/* importaçoes */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
/* Barra de scroll */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: #403D3D;

}
::-webkit-scrollbar-thumb:hover{
  background: #736A62;

}
::-webkit-scrollbar-track{
  background: #1e252d;
}
/* definiçoes gerais*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: inherit;
}
body {
  background-color: #1e252d;
  line-height: 1;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
  font-size: 16pt;
}
/* Tags de título, parágrafo e ancor (junto com subclasses) */
h1, h2, h3 {
  color: #212931;
  font-weight: 900;
  letter-spacing: 0.099em;
  text-transform: uppercase;

}

h1 {
  font-size: 4rem;
  margin: 0 0 2rem 0;
}

h2 {
  font-size: 1.75rem;
  margin: 0 0 1.5rem 0;
}

p {
  text-align: justify;
  margin: 0 0 2rem 0;
}

a {
  color: #212931;
  border-bottom-color: rgba(33, 41, 49, 0.5);
}

a:hover {
  border-bottom-color: transparent;
  color: #8a8980 ;
}

a.image img {
	-moz-transition: -moz-transform 0.2s ease-out;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-ms-transition: -ms-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
	overflow: hidden;
}

a.image:hover img {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
/*Botões e linhas*/
.button {  
  background-color: transparent;
  color: #212931 ;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  height: 3rem;
  line-height: 3rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:hover {
  color: #8a8980  ;
}

.button.fit {
  width: 100%;
}

hr.major {
  margin: 5rem 0;
}
/*listas e itens */
ul.actions {
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1rem;
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1rem;
  vertical-align: middle;
}

ul.actions.special {
  justify-content: center;
  width: 100%;
  margin-left: 0;
}

ul.actions.special li:first-child {
  padding-left: 0;
}

ol {
  list-style: decimal;
  margin: 0 0 2rem 0;
  padding-left: 1.25rem;
}

ol li {
  padding-left: 0.25rem;
}

ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1rem;
}

ul li {
  padding-left: 0.5rem;
}

section.special,
article.special {
  text-align: center;
}

header {
  cursor: default;
}

header > .date {
  display: block;
  font-size: 0.8rem;
  margin: 0 0 1rem 0;
  position: relative;
}

header > p {
  font-style: italic;
}

header > h1 + p {
  font-size: 1.1rem;
  margin-top: -0.5rem;
  line-height: 2;
}

header > h2 + p {
  font-size: 1rem;
  margin-top: -0.75rem;
}
header.major {
  margin: 0 0 4rem 0;
  text-align: center;
}

header.major > :last-child {
  margin-bottom: 0;
}

header.major > p {
  margin-top: 0;
  text-align: center;
}

header.major > .date {
  font-size: 1rem;
  margin: 0 0 4rem 0;
}

header.major > .date:before,
header.major > .date:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: calc(50% - 6rem);
  border-top: solid 2px;
}

header.major > .date:before {
  left: 0;
}

header.major > .date:after {
  right: 0;
}

header.major .date:before,
header.major .date:after {
  border-top-color: #eeeeee;
}
main {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2;
}

main > * {
  padding: 4rem 4rem 2rem 4rem;
  border-top: solid 2px #eeeeee;
  margin: 0;
}

main > *:first-child {
  border-top: 0;
}

main > footer {
  text-align: center;
}

main > .post {
  padding: 8rem 8rem 6rem 8rem;
}

main > .post header.major > .date {
  margin-top: -2rem;
}

main > .post header.major > h1,
main > .post header.major h2 {
  font-size: 4rem;
  line-height: 1.1;
  margin: 0 0 2rem 0;
}

main > .post.featured {
  text-align: center;
}
/*barra de navegação*/
.nav {
  color: #ffffff;  
  display: flex;
  background: rgba(255, 255, 255, 0.175);
  height: 4rem;
  line-height: 4rem;
  margin: -4rem auto 0 auto;
  overflow: hidden;
  padding: 0 2rem 0 0;
  position: relative;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2;
}

.nav a {
  color: #ffffff;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav a:hover {
  border-bottom-color: transparent;
  color: #8a8980 ;
}

.nav h1, .nav h2, .nav h3 {
  color: #ffffff;
}

.nav ul.links {
  display: flex;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 0.075em;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  text-transform: uppercase;
}

.nav ul.links li {
  display: block;
  padding-left: 0;
}

.nav ul.links li a {
  display: block;
  font-size: 0.8rem;
  outline: none;
  padding: 0 2rem;
}

.nav ul.links li a:hover {
  color: inherit ;
  background-color: rgba(255, 255, 255, 0.1);
}
/*Imagens */
.image {
	border: 0;
	display: inline-block;
	position: relative;
}
.image.fit {
	display: block;
	margin: 2.5rem 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 4rem 0;
	width: 100%;
}
 
/* Definições de copyright*/
.copyright {
  position: relative;
  color: rgba(0, 0, 0, 0.25);
  cursor: default;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin: 4rem auto 8rem auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2;
}
.copyright a {
  color: rgba(0, 0, 0, 0.25);
}
.copyright a:hover {
  border-bottom-color: transparent;
  color: #8a8980  ;
}
.copyright ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.copyright ul li {
  border-left: solid 2px;
  display: inline-block;
  line-height: 1;
  margin-left: 1rem;
  padding-left: 1rem;
}
.copyright ul li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
.copyright ul li:first-child {
    margin-top: 0;
  }
/*Página da equipe*/
.ht {
  text-decoration: underline;
} 
.fundo {
  width: 60%;
  height: 600px;
  background-color: #f8f8f8;
  margin: 0 auto;
  box-shadow: rgba(115, 106, 98, 1) 5px 5px 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.fotoEquipe {
  margin-top: 5%;
  margin-left: 15%;
}
.pd {
  margin: 4% 0 4% 4%;
}
.nome {
  text-align: center;
}
/* Gráficos do framework highcharts*/
.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

#container2,
.highcharts-data-table table {
    min-width: 350px;
    max-width: 800px;
    margin: 1em auto;
}

#container2 {
    height: 450px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
/*Responsividade do site*/
@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 1280px) {
  main > .post {
    padding: 6rem 4rem 4rem 4rem;
  }
  .copyright {
    margin: 4rem auto;
  }
}

@media screen and (max-width: 980px) {
  header br {
    display: none;
  }
  .nav {
    display: none;
  }

  main > .posts > * {
    width: 50%;
  }

  main > .posts > * {
    padding: 2.5rem;
    width: 50%;
  }
  .button {
    font-size: 0.9rem;
    height: 3.25rem;
    line-height: 3.25rem;

  }
}
@media screen and (min-width: 901px) {
  .colunas {
    display: grid;
    grid-template-columns: 50% 50%;

  }
  .colunas {
    display: grid;
    grid-template-columns: 100%;

  }
}
@media screen and (max-width: 736px) {
  main > .posts > * {
    width: 100%;
  }

  main > .posts > * {
    padding: 2rem;
    width: 100%;
  }

  main > .posts > article:nth-child(2n - 1) {
    border-left-width: 2px;
  }

  main > .posts > article:nth-child(-n + 2) {
    border-top-width: 2px;
  }

  main > .posts > article:nth-child(n) {
    border-left-width: 0;
  }

  main > .posts > article:nth-child(-n + 1) {
    border-top-width: 0;
  }

  main > .posts > article .image {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }  
  main > * {
    padding: 2rem 2rem 0.1rem 2rem;
  }
	.image.fit {
		margin: 2rem 0;
	}
	.image.main {
		margin: 2rem 0;
	}
  main > .post {
    padding: 4rem 2rem 2rem 2rem;
  }
  main > .post header.major > .date {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
  main > .post header.major > h1,
  main > .post header.major h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0 0 1.5rem 0;
  }
  header.major {
    margin: 0 0 2rem 0;
  }
}
@media screen and (max-width: 480px) {
  ul.actions:not(.fixed) {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
    width: 100% ;
  }
  .copyright ul li {
    border-left: 0;
    margin: 1rem 0 0 0;
    padding-left: 0;
    display: block;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 10pt;
  }
}

.tamanho{
  height: 400px;
  width: 400px;
}