<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/nav.css">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hansei Tech - Cotação</title>
</head>

<body>
  <header>
    <nav>
      <a class="textoNav2" href="index.html">H/T</a>
      <a class="logo" href="/">Hansei Tech</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a class="textoNav" href="index">Início</a></li>
        <li><a class="textoNav" href="planeta">Planeta</a></li>
        <li><a class="textoNav" href="cotacao">Cotação</a></li>
        <li><a class="textoNav" href="equipe">Equipe</a></li>
      </ul>
    </nav>
  </header>


  <main>


    <article class="post featured">
      <header class="major">
        <span class="date" id="datahoje"></span>
        <div class="junto">
          <h2><a href="#" class="ht">Hansei-Price</a></h2>
          <h2><a href="#">半生の名言
            </a></h2>
        </div>
        <p>Um pouco sobre economia, moedas, inflação das principais potencias do mundo. <br>
          Tudo atualizado em tempo real, com informaçoẽs fieis e verdadeiras, um selo de garantia Hansei Tech.</p>
        <p>A economia do Brasil apresenta sinais de recuperação e o PIB deve crescer 5,3% ainda em 2021 segundo
          relatório do FMI. As exportações cresceram 36% respondendo positivamente ao novo cenário de retomada da
          economia mundial.</p>
        <p>A recuperação da economia veio forte para a indústria de transformação, com nove altas seguidas nas horas
          trabalhadas na produção, o que levou o indicador ao maior nível desde o fim de 2015. Em fevereiro de 2021,
          contudo, essa sequência de altas foi interrompida com uma queda de 0,5%. O desaquecimento da atividade
          industrial também provocou retração do faturamento (-3,3%), da massa salarial (-1,1%), do rendimento médio
          (-1,8%) e da utilização da capacidade instalada (-0,4 ponto percentual)</p>

      </header>
    </article>

    <section class="posts">
      <article>
        <header>
          <h2><a href="#">Dolar<br />
              Cotaçao hoje</a></h2>

        </header>
        <figure class="highcharts-figure">
          <div id="container"></div>
          <p class="highcharts-description">

          </p>
        </figure>
        <p> O dólar americano é a principal moeda utilizada na economia mundial, em transações como importações e
          exportações e negociação de títulos na Bolsa de Valores. <br> Cotação da moeda é diferenciada de acordo com o
          tipo de operação que será realizada: no caso de importações, exportações e investimentos, é utilizado o
          chamado dólar comercial. Para a compra de papel moeda físico para viagens, seja a passeio ou negócios, a moeda
          é o dólar turismo. </p>
        <p>moeda é utilizada em vários outros países em todo o mundo, mas tem cotações diferentes de acordo com o local:
          é o caso dos dólares bahamense, barbadiano, belizenho, australiano e canadense. A produção de dólar americano
          é controlada pelo Fed, o Banco Central dos Estados Unidos.</p>
        <a href="https://mercadocotacao.com/dolar-hoje/" id="r_USD" title="Dólar" name="mercado_cotacao">Dólar</a>
        <script async src="https://mercadocotacao.com/money/mercadocotacao.js"></script>

        <ul class="actions special">
          <li><a href="#" class="button">Mais info...</a></li>
        </ul>
      </article>
      <article>
        <header>

          <h2><a href="#">BitCoin<br />
              Cotaçao hoje</a></h2>
        </header>
        <div id="container2"></div>
        <p class="highcharts-description">
          O Bitcoin é uma moeda virtual que pode ser usada como forma de pagamento. Ela existe exclusivamente na
          internet e as suas transações são feitas online, em um ambiente criptografado. Inclusive, a criptografia é o
          ponto-chave que demonstra a segurança do Bitcoin.
          Outra grande diferença das moedas físicas, como o dólar ou o real, é que o Bitcoin é uma moeda
          descentralizada, ou seja, não é controlada por nenhum governo ou instituição.
          <br>
          Isso faz com que o Bitcoin fique livre de regulações muitas vezes, por motivos de política econômica praticada
          por bancos e governos <br>, além de tornar muito mais simples as transações internacionais.
          <br>
          Apesar de não ser reconhecido oficialmente e de não poder ser utilizado para pagar impostos ou quitar dívidas,
          a moeda virtual Bitcoin já é aceita como meio de pagamento em milhares de estabelecimentos. Além disso, ela já
          é vista como forma de investimento – inclusive, com cotação na bolsa de valores.
        </p>
        <a href="https://mercadocotacao.com/bitcoin-hoje/" id="r_BTC" title="Bitcoin" name="mercado_cotacao">Bitcoin</a>
        <script async src="https://mercadocotacao.com/money/mercadocotacao.js"></script>


        <ul class="actions special">
          <li><a href="#" class="button">Mais info...</a></li>
        </ul>
      </article>

    </section>


  </main>
  <div class="copyright">
    <ul>
      <li>&copy; Developed by</li>
      <li> <a href="./equipe.html">Cauã e Luiz</a></li>
    </ul>
  </div>

  <script src="../js/index.js"></script>
</body>

</html>