<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/nav.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hansei Tech - EQUIPE</title>
</head>

<body>
  <header>
    <nav>
      <a class="textoNav2" href="index.html">H/T</a>
      <a class="logo" href="/">Hansei Tech</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a class="textoNav" href="inicio">Início</a></li>
        <li><a class="textoNav" href="planeta">Planeta</a></li>
        <li><a class="textoNav" href="cotacao">Cotação</a></li>
        <li><a class="textoNav" href="equipe">Equipe</a></li>
      </ul>
    </nav>
  </header>


  <div class="colunas">
    <div class="fundo">
      <img class="image fit" src="https://telegra.ph/file/aad73b91b059425047398.jpg" alt="imagem Luiz juju" width="400px" height="400px" class="fotoEquipe">

      <p class="nome">Luiz Felipe Nunes</p>
      <div class="pd">
        <ul>
          <li>Designer e Idealizador.</li>
          <li>Design do projeto no figma, montou e deu ideias para a metade das páginas.</li>
        </ul>
      </div>
    </div>

    <div class="fundo">
      <img class="image fit" src="https://telegra.ph/file/333811ccaf963170ecd68.jpg" alt="imagem Cauã juju" width="400px" height="400px" class="fotoEquipe">
      <p class="nome">Cauã Vinicius</p>
      <div class="pd">
        <ul>
          <li>Programador principal, Interação de API, Responsividade.</li>
          <li>Design mobile, montou os gráficos.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <ul>
      <li>&copy; Developed by</li>
      <li> <a href="./equipe.html">Cauã e Luiz</a></li>
    </ul>
  </div>
</body>

</html>