<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/nav.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hansei Tech - Inicio</title>
</head>

<body>
  <header>
    <nav>
      <a class="textoNav2" href="index">H/T</a>
      <a class="logo" href="/">Hansei Tech</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a class="textoNav" href="index">Início</a></li>
        <li><a class="textoNav" href="planeta">Planeta</a></li>
        <li><a class="textoNav" href="cotacao">Cotação</a></li>
        <li><a class="textoNav" href="equipe">Equipe</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <article class="post featured">
      <header class="major">
        <span class="date" id="datahoje"></span>
        <div class="junto">
          <h2><a href="#" class="ht">Hansei Tech</a></h2>
          <h2><a href="#">半生テック</a></h2>
        </div>
        <p>Apanas as melhores e mais confiaveis noticias sobre o mundo da tecnologia, clima e finanças<br>Sempre
          buscando qualidade e responsabilidade para compartilhar as notícias, tudo atualizado em tempo real...</p>
      </header>
    </article>
    <section class="posts">
      <article>
        <header>
          <span class="date">Junho 29, 2007</span>
          <h2><a href="#">Steave Jobs<br />
              Lançamento Primeiro Iphone</a></h2>
        </header>
        <a href="#" class="image fit"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0bTAiiMNoev1v58Wgf8xntb1xPsY2eD-3Tw&usqp=CAU"
            alt="" /></a>
        <p>Símbolo dos smartphones, a Apple lançava há 15 anos seu primeiro iPhone. O anúncio oficial do produto
          aconteceu em 9 de janeiro de 2007, mas o lançamento no mercado dos Estados Unidos veio mais tarde, em 29 de
          junho daquele ano.<br>
          No Brasil, o primeiro a chegar foi o da segunda versão, o iPhone 3G, em 2008.</p>
        <ul class="actions special">
          <li><a href="#" class="button">Mais info...</a></li>
        </ul>
      </article>
      <article>
        <header>
          <span class="date">Março 03, 2022</span>
          <h2><a href="#">Chega ao mercado<br />
              Core i9-12900KS</a></h2>
        </header>
        <a href="#" class="image fit"><img
            src="https://images.kabum.com.br/produtos/fotos/241050/processador-intel-core-i9-12900k-cache-30mb-3-2ghz-5-2ghz-max-turbo-lga-1700-bx8071512900k_1635255797_g.jpg"
            alt="" /></a>
        <p>Segundo a companhia, o modo turbo boost de 5,5 GHz faz da nova CPU a opção mais rápida disponível atualmente
          para o mercado de desktops. O dispositivo traz um total de 16 núcleos (oito núcleos de performance e oito
          núcleos de eficiência) e 24 threads, consumindo 150W como base.</p>
        <ul class="actions special">
          <li><a href="#" class="button">Mais info...</a></li>
        </ul>
      </article>
      <article>
        <header>
          <span class="date">Março 29, 2022</span>
          <h2><a href="#">Chegada ao mercado<br />
              3090TI - Force </a></h2>
        </header>
        <a href="#" class="image fit"><img
            src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/ampere/rtx-3090/geforce-rtx-3090-shop-630-d@2x.png"
            alt="" /></a>
        <p>A nova solução gamer da Nvidia se destaca pela presença da GPU GA102 completa, trazendo 10.752 núcleos CUDA,
          336 Tensor Cores para DLSS e outros recursos de Inteligência Artificial, e 84 RT Cores para Ray Tracing. Em
          sua configuração base, desconsiderando modelos customizados e com overclock, a novidade entrega clock base de
          1.560 MHz e boost de 1.860 MHz, atingindo os 40 TFLOPs de poder computacional, contra 36 TFLOPs da RTX 3090
          padrão.</p>
        <ul class="actions special">
          <li><a href="#" class="button">Mais info...</a></li>
        </ul>
      </article>
      <article>
        <header>
          <span class="date">fevereiro 20, 2019</span>
          <h2><a href="#">O primeiro<br />
              Smartphone dobrável</a></h2>
        </header>
        <a href="#" class="image fit"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8zB1Rl5jDax1dg5H6yACeOBESarkAlPGR2g&usqp=CAU"
            alt="" /></a>
        <p>Em um mundo em que os celulares parecem ter atingido o limite da criatividade com dispositivos sem bordas com
          câmeras retráteis, como oferecer um produto diferenciado ao consumidor? A resposta que muitas fabricantes
          encontraram foi a mesma: telefones dobráveis. Mas só algumas poucas possuem projetos comerciais já viáveis
          atualmente.</p>
        <ul class="actions special">
          <li><a href="#" class="button">Mais info...</a></li>
        </ul>
      </article>


    </section>


  </main>


  <div class="copyright">
    <ul>
      <li>&copy; Developed by</li>
      <li> <a href="./equipe.html">Cauã e Luiz</a></li>
    </ul>
  </div>

  <script src="../js/index.js"></script>
</body>

</html>