<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/nav.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hansei Tech - Planeta</title>
</head>

<body>
  <header>
    <nav>
      <a class="textoNav2" href="index.html">H/T</a>
      <a class="logo" href="/">Hansei Tech</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a class="textoNav" href="index.html">Início</a></li>
        <li><a class="textoNav" href="planeta.html">Planeta</a></li>
        <li><a class="textoNav" href="cotacao.html">Cotação</a></li>
        <li><a class="textoNav" href="equipe.html">Equipe</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <article class="post featured">
      <header class="major">
        <span class="date" id="datahoje"></span>
        <div class="junto">
          <h2><a href="#" class="ht">Saúde do planeta</a></h2>
          <h2><a href="#">地球健康 </a></h2>
        </div>
        <p>Algumas das principais noticias climaticas da atualidade.</p>
      </header>
    </article>
    <section class="posts">
      <article>
        <header>
          <span class="date">Junho 29, 2007</span>
          <h2><a href="#">Energia<br />
              Renovável</a></h2>
        </header>
        <a href="#" class="image fit"><img
            src="http://www.ceisebr.com/uploads/conteudo/conteudo/2019/05/a9mg0/fotos-8_510x400.png" alt="" /></a>
        <p>Além de serem praticamente inesgotáveis, as energias ecológicas podem apresentar impacto ambiental muito
          baixo, sem afetar o balanço térmico ou a composição atmosférica do planeta. Destacam-se como fontes
          alternativas e renováveis as hidrelétricas, maremotriz, geotérmica, solar e eólica.
        <ul class="actions special">
          <li><a href="#" class="button">Mais info...</a></li>
        </ul>
      </article>
      <article>
        <header>
          <span class="date">Março 03, 2022</span>
          <h2><a href="#">Aquecimento Global</a></h2>
        </header>
        <a href="#" class="image fit"><img
            src="https://static.vecteezy.com/ti/vetor-gratis/p1/8415019-aquecimento-global-cartoon-estilo-ilustracao-com-planeta-terra-em-um-estado-derrete-ou-queima-e-imagem-sol-para-prevenir-danos-a-natureza-e-mudancas-climaticas-vetor.jpg"
            alt="" /></a>
        <p>Diariamente ouvimos falar sobre as consequências do aquecimento global, um tema frequentemente abordado na
          mídia. Esse fenômeno, ao contrário do que muitos imaginam, não é responsável apenas pelo aumento da
          temperatura, mas pode pode causar danos severos à sociedade e ao meio ambiente, trazendo prejuízos à saúde, à
          economia e à vida de muitas espécies animais e vegetais.</p>
        <ul class="actions special">
          <li><a href="#" class="button">Mais info...</a></li>
        </ul>
      </article>



    </section>


  </main>


  <div class="copyright">
    <ul>
      <li>&copy; Developed by</li>
      <li> <a href="./equipe.html">Cauã e Luiz</a></li>
    </ul>
  </div>

  </div>

  <script src="../js/index.js"></script>
</body>

</html>